{% extends "layout.html" %}
{% set active_page = "about" %}
{% block main_content %}
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>About</h1>
        <h4>My Diary is an app that you can save your writings ciphered.
          That way you can only access your writings with your username and password.
          Written by Göksel DARCAN</h4>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
{% endblock %}