{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block main_content %}
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Contact</h1>
        <h4>To contact, please reach my profiles below.</h4>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>

<div id="social">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-4">
        <a href="https://www.facebook.com/goksel.darcan.5"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.linkedin.com/in/gdarcan/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.instagram.com/gdarr7/"><i class="fa fa-instagram"></i></a>
      </div>

    </div>
  </div>
</div>
{% endblock %}