{% extends "layout.html" %}
{% set active_page = "login" %}
{% block main_content %}
{% from "formhelpers.html" import render_field %}
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h3>Login</h3>
            <form method=post>
              <dl>
                {{ render_field(login_form.username, class="form-control") }}
                {{ render_field(login_form.password, class="form-control") }}
              </dl>
              <p><input class="btn btn-primary" type=submit value=Login>
            </form>
            {% include "messages.html" %}
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- /container -->
</div>
{% endblock %}